// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error_explanation{
  background-color: #CC0000;
  border-radius: 15px;
  padding: 5px 0 10px 40px;
  margin-bottom: 25px;
  width: 500px;
  h5{
    color: #141414;
    display: inline;
  }
  li{
    padding: 0 0 5px 5px;
    color: #F6F6F6;

  }
}