// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error_explanation{
  background-color: #CC0000;
  border-radius: 15px;
  padding: 5px 0 10px 40px;
  margin-bottom: 25px;
  width: 500px;
  h5{
    color: #000F00;
    display: inline;
  }
  li{
    padding: 0 0 5px 5px;
    color: #F6F6F6;
  }
}
.song_uploader{
  padding: 0 0 10px 20px;
  h4{
    padding: 0 0 0 8px;
    font-size: 30px;
    border-bottom: none;
  }
}
.links{
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
    p {
    padding: 5px 0 5px 5px; 
}
}
.audio{
  padding: 10px 10px 10px 10px;
  display: block;
}
.table p{
  margin: 2px 0 10px 15px;
}
.show_table{
  width: 400px;
  padding-left: 50px;
}
