h1{
	margin: 10px 0 20px 0;
	padding: 20px 20px 20px 10px;
}

h2{
	margin: 0 10px 20px 10px;
}
h3{
	padding: 10px 10px 30px 30px;
}
h4{
	padding: 10px 10px 8px 30px;
	margin: 15px 0 15px 0;
}
h6{
	padding: 10px 10px 10px 10px;
	margin: 15px 0 15px 0;
}
h4, h6 {
	border-bottom: 1px solid #cccccc;
}